@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise02_A");

    //output variable

    var artistNameArg = Request.Form["ArtistArg"];
    var theButton = Request.Form["theButton"];

    var db = Database.Open("ChinookDB");

    var partialString = "%" + artistNameArg + "%";

    var sqlcommand = @"select ArtistId
       from Artists
       where Name like @0";

    var results = db.Query(sqlcommand, partialString);
}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    if (theButton.Equals("reset"))
    {
        <p style="color:darkblue">The Reset Button was just Pressed</p>
        artistNameArg = "";
    }
    else
    {
        if (results.Count() == 0)
        {
            <p style="color:firebrick">There was no record returned from the Data Base</p>
            artistNameArg = "";
        }
        else
        {
            Response.Redirect("Exercise02_B.cshtml?ArtistId=" + results);
        }
    }
}
else
{
    <p style="color:darkblue">The Data Base has NOT been queried</p>
    artistNameArg = "";
}


<form id="theform" method="post">
    <div class="row">
        <div class="col-3">
            <div class="offset-1">
                <label id="lblArtistArg" for="ArtistArg">Enter an Artist name:</label>&nbsp;&nbsp;
                <input type="text" id="ArtistArg" name="ArtistArg"
                       value="@artistNameArg" placeholder="artist name" />
                <br /><br />
                <button type="submit" id="theButton" name="theButton"
                        value="submit" class="btn btn-primary">
                    Fetch
                </button>&nbsp;&nbsp;
                <button type="submit" id="theButton" name="theButton"
                        value="reset" class="btn btn-light">
                    Reset
                </button>
            </div>
        </div>
    </div>
</form>