@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Exercise02_B - Database Query");

    var artistNameArg = Request.QueryString["artistArg"];
    var theButton = Request.Form["theButton"];

    if (string.IsNullOrEmpty(artistNameArg))
    {
        Response.Redirect("Exercise02_A.cshtml");
    }

    var db = Database.Open("ChinookDB");

    var artistQuery = @"select ArtistId, Name
                from Artists
                where Name like @0";
    var partialString = "%" + artistNameArg + "%";

    var artistInfo = db.Query(artistQuery, partialString);
    if (artistInfo.Count() == 0)
    {
        <p style="color:firebrick">There was no record returned from the Data Base</p>
    }
    else
    {
        <p style="color:darkgreen">There was @artistInfo.Count() record/s returned from the Data Base</p>

    }
}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    var choice = Request.Form["ArtistList"];

    if (int.Parse(choice) != 0)
    {
        Response.Redirect("Exercise02_C.cshtml?artistId=" + choice);
    }
    else
    {
        <p style="color:firebrick">Please select an Artist name.</p>
    }

}

<form id="theform" method="post">
    <div class="offset-3">
        <label id="lblArtistList" for="ArtistList">Select artist name to view:</label>
        &nbsp;&nbsp;
        <select id="ArtistList" name="ArtistList">
            <option value="0">select Artist ....</option>
            @foreach (var artist in artistInfo)
            {
                <option value="@artist.ArtistId">@artist.Name</option>
            }
        </select>
        &nbsp;&nbsp;
        <button type="submit" id="theButton" name="theButton" value="submit"
                class="btn btn-primary">
            Fetch Album
        </button>
    </div>
</form>