@using WebMatrix.Data;
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise02_A");

    //output variable

    int artistId = 0;

    var artistNameArg = Request.Form["ArtistArg"];
    var theButton = Request.Form["theButton"];

    var db = Database.Open("CHB");

    var partialString = "%" + artistNameArg + "%";

    var sqlcommand = @"select ArtistId
               from Artists
               where Name like @0";

    var results = db.QuerySingle(sqlcommand, partialString);
}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    if (theButton.Equals("reset"))
    {
        <p style="color:darkblue">The Reset Button was just Pressed</p>
        artistNameArg = "";
    }
    else
    {
        //always check if you even have results

        //checking for query results DEPEND on how the query was executed
        // a) and c)   check for null
        // b) check the .Count of the results

        //a primary key lookup returns either the record or nothing

        if (results == null)
        {
            <p style="color:firebrick">There was no record returned from the Data Base</p>
            artistNameArg = "";
        }
        else
        {
            <p style="color:darkgreen">There was a record returned from the Data Base</p>

            //accessing the data out of your results
            //there is 2 ways to access data on a result row
            //a) using an index     syntax  result[index] where index value starts at
            //                        0 which is the first column on the select
            //b) using the Property Name    syntax result.PropertyName where the
            //                        property name is the column title

            //data returned has a datatype that matches the Property
            artistId = results.ArtistId;
        }
    }
}
else
{
    <p style="color:darkblue">The Data Base has NOT been queried</p>
    artistNameArg = "";
}


<form id="theform" method="post">
    <div class="row">
        <div class="col-3">
            <div class="offset-1">
                <label id="lblArtistArg" for="ArtistArg">Enter an Artist name:</label>&nbsp;&nbsp;
                <input type="text" id="ArtistArg" name="ArtistArg"
                       value="@artistNameArg" placeholder="artist name" />
                <br /><br />
                <button type="submit" id="theButton" name="theButton"
                        value="submit" class="btn btn-primary">
                    Fetch
                </button>&nbsp;&nbsp;
                <button type="submit" id="theButton" name="theButton"
                        value="reset" class="btn btn-light">
                    Reset
                </button>
            </div>
        </div>
        <div class="col-3">
            <div class="offset-1">
                <label id="lblArtistId">Artist ID:</label>&nbsp;&nbsp;
                <label id="ArtistId">@artistId</label>
            </div>
        </div>
    </div>
</form>